<nav>
    <ul>
        <li>
            <a href="http://localhost:3000">Inicio</a>
        </li>    
        <li>
            <a href="http://localhost:3000/registro">Registrar</a>
        </li>
    </ul>
</nav>


