<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario</title>
</head>
<body>
  
  <!-- Incluyendo el archivo nav.ejs -->
  <%- include("nav") %>

    <h1>Registro de Usuario</h1>

    <% if(typeof mensaje !=="undefined"){ %>
      <p>
          <%= mensaje %>;
      </p>
    <% } %>
  
  <form action="/registro" method="post">

    <!-- Campo para el Documento -->
    <div>
      <label for="Documento">Documento:</label>
      <input type="Documento" id="Documento" name="Documento" required>
    </div>  

    <!-- Campo para el nombre -->
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
    </div>
    
    <!-- Campo para el correo electrónico -->
    <div>
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" required>
    </div>

    <!-- Campo para el correo telefono -->
    <div>
      <label for="telefono">Telefono:</label>
      <input type="telefono" id="telefono" name="telefono" required>
    </div>  

    
    <!-- Campo para la contraseña -->
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
    </div>
    
    <!-- Botón de envío -->
    <div>
      <button type="submit">Registrar</button>
    </div>
  </form>
</body>
</html>

